:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

.bg-aquamarine{
  background: rgba(127, 255, 212, 1);
}

body {
  background: #7fffd4;
  background: linear-gradient(to right, #204237, #7fffd4);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 2em;
}


body.dashboard{
  background: #f5f5f5;
  margin: 0;
}

.header-main{
  background: #ffffff;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.1);
  padding: 10px;
}

.side-menu{
  background: rgba(0,0,0,0.1) url('img/3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  overflow-x: hidden;
  color: #ffffff;
  z-index: 1;
}

.side-menu a{
  text-decoration:none;
}

hr{
  border-top: 1px solid rgba(127, 255, 212, 0.8);
}

.user{
  color: #ffffff;
}

.user:hover{
  color: #ffffff;
}

.side-link{
  color: #ffffff;
  background: rgba(0,0,0,0.7);
  border-radius: 5px;
  padding: 8px;
}

.side-link:hover, .active{
  color: #ffffff;
  background: gray;
  transition: all 0.5s;
}

.main-content{
  color: darkslategray;
  padding: 0;
}

.aquamarine{
  color: #7fffd4;
  text-shadow: 7px 2px 2px solid black;
}

.btn {
    background-color: #7fffd4 !important;
    border-color: #5ceab3 !important;
}
.btn:hover {
    background-color: #5ceab3!important;
    border-color: #53d3a0!important;
    transition: all 0.5s;
}

.btn-gray{
  background-color: lightgray !important;
  border-color: darkslategray !important;
}

.btn-delete:hover{
  background-color: #dc3545 !important;
  border-color: red !important;
}

.nav-link{
  background-color: lightgray;
  border-radius: 10px;
  color: darkslategrey;
  width: 100%;
}

.caption{
    color: darkslategray;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  /* box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1); */
  box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
  overflow: hidden;
}

.login-card .card-img-left {
  background: scroll center url('img/1.jpg');
  width: 45%;
  background-size: cover;
}

.register-card .card-img-left {
  background: scroll center url('img/2.jpg');
  width: 45%;
  background-size: cover;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  color: darkslategray;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-check{
  display: inline-block;
}

.card{
  box-shadow: 2px 2px 7px rgba(0,0,0,0.7);
  background-size: cover;
}

.card-img-overlay{
  background: rgba(0,0,0,0.8);
  color: #ffffff;
}

.card-img-overlay:hover{
  background: rgba(255,255,255,0.0);
  transition: all 1s;
}

.drink-details{
  background: rgba(0,0,0,0.5);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1.25rem;
}

.progress{
  background: slategray;
}

.drink-search, .btn-search{
  box-shadow: 1px 1px 3px rgba(0,0,0,0.7);
}

.btn-drink{
  border: none;
  background: none;
}
.btn-drink:focus{
  outline: none;
}

.btn-extra{
  border: none;
  background: none;
  /* text-align: center; */
  /* vertical-align: middle; */
}

.btn-extra:focus{
  outline: none;
}

.professionals img, .students img{
  max-height: 50px;
}

.student {
  color: black;
  text-decoration: none;
}

.student:hover{
  text-decoration: none;
  color: black;
}

.student .row{
  padding: 5px;
  margin-top: 5px;
  border: 1px solid gray;
}

.student .row:hover{
  background-color: #7fffd4;
  transition: all 0.75s;
}

.glass{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  width: 150px;
  height: 180px;
  border: 6px solid #204237;
  border-top: 2px solid transparent;
  border-radius: 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: url(https://image.ibb.co/fmHm66/wave.png);
  background-position: 0px 350px;
  background-repeat: repeat-x;
  animation: filling 10s ease-in-out infinite;
  box-shadow: 0 0 0 6px #fff, 0 20px 35px rgba(0,0,0,1);
}

.drink-btn{
  position: absolute;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  bottom: 0;
  transform: translate(0%, 200%);
  box-shadow: 0 20px 35px rgba(0,0,0,1);
  border: 10px solid #204237;
  right: 0%;
  font-size: 30px;
}

.drink-btn:active{
  transition: all 0.25s;
}

.step-progress{
  position: absolute;
  top: 10%;
  left: 2%;
  height: 400px;
  width: 25px;
  border: 4px solid #204237;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0,0,0,1);
}

.target-mark{
  position: absolute;
  background-color: plum;
  width: 100%;
  height: 5px;
  top: 10%;
  border-radius: 10px;
}

.current-progress{
  position: absolute;
  background-color: #7fffd4;
  bottom: 0;
  height: 200px;
  width: 100%;
  border-radius: 5px;
  border-top: 1px solid #204237;
}

/* @keyframes filling { */
  /* 50% {background-position: 3000px 0px;} */
  /* 100% {background-position: 6000px 350px;} */
/* } */

.professional-update{
  border: 1px solid #204237;
  border-radius: 5px;
  padding: 5px;
  background-color: #7fffd4;  
}

.btn-info{
  border: 1px solid orange;
}
.completed-drinks .card, .assigned-drinks .card{
  border: 1px solid #204237;
  border-radius: 5px;
  padding: 5px;
  background-color: lightgray;
}

.steps .card, .ingredients .card, .completed-drinks .card, .assigned-drinks .card{
  box-shadow: none;
}

.btn-add-step{
  background-color: #7fffd4;
  border-radius: 5px;
  padding: 7px;
}

.log{
  border: 1px solid gray;
  border-radius: 5px;
  padding: 7px;
  background-color: #7fffd4;
}

.custom{
  /* background-color: #f5f5f5; */
}