body{
  margin: 20px !important;
}

.cnh_holding .bg-card{
  background: linear-gradient(white, white) rgb(255, 215, 235) no-repeat 0 0;
  mix-blend-mode: multiply;
  background-size: 100% 100%;
  animation: fill 2s forwards;
}

@keyframes fill{
  to {
    background-size: 100% 0;
  }
}

.marker{
  height: 15px;
  width: 10px;
  background-color: crimson;
  top: 0;
  right: 28%;
  position: absolute;
}